---
http_interactions:
- request:
    method: get
    uri: https://api.deckbrew.com/mtg/sets/UNH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Disclaimer:
      - This API is not produced, endorsed, supported, or affiliated with Wizards
        of the Coast.
      License:
      - 'The textual information presented through this API about Magic: The Gathering
        is copyrighted by Wizards of the Coast.'
      Pricing:
      - store.tcgplayer.com allows you to buy cards from any of our vendors, all at
        the same time, in a simple checkout experience. Shop, Compare & Save with
        TCGplayer.com!
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "UNH",
          "name": "Unhinged",
          "border": "silver",
          "type": "un",
          "url": "",
          "cards_url": ""
        }
  recorded_at: Sun, 14 Feb 2016 02:32:49 GMT
recorded_with: VCR 3.0.1
