---
http_interactions:
- request:
    method: get
    uri: https://api.deckbrew.com/mtg/cards/demonic-tutor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Disclaimer:
      - This API is not produced, endorsed, supported, or affiliated with Wizards
        of the Coast.
      License:
      - 'The textual information presented through this API about Magic: The Gathering
        is copyrighted by Wizards of the Coast.'
      Pricing:
      - store.tcgplayer.com allows you to buy cards from any of our vendors, all at
        the same time, in a simple checkout experience. Shop, Compare & Save with
        TCGplayer.com!
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "name": "Demonic Tutor",
          "id": "demonic-tutor",
          "url": "https://api.deckbrew.com/mtg/cards/demonic-tutor",
          "store_url": "http://store.tcgplayer.com/magic/product/show?partner=DECKBREW\u0026ProductName=demonic-tutor",
          "types": [
            "sorcery"
          ],
          "colors": [
            "black"
          ],
          "cmc": 2,
          "cost": "{1}{B}",
          "text": "Search your library for a card and put that card into your hand. Then shuffle your library.",
          "formats": {
            "commander": "legal",
            "legacy": "banned",
            "vintage": "restricted"
          },
          "editions": [
            {
              "set": "Masters Edition IV",
              "set_id": "ME4",
              "rarity": "rare",
              "artist": "Douglas Shuler",
              "multiverse_id": 202628,
              "number": "77",
              "layout": "normal",
              "price": {
                "low": 0,
                "median": 0,
                "high": 0
              },
              "url": "https://api.deckbrew.com/mtg/cards?multiverseid=202628",
              "image_url": "https://image.deckbrew.com/mtg/multiverseid/202628.jpg",
              "set_url": "https://api.deckbrew.com/mtg/sets/ME4",
              "store_url": "http://store.tcgplayer.com/magic/masters-edition-iv/demonic-tutor?partner=DECKBREW"
            },
            {
              "set": "Revised Edition",
              "set_id": "3ED",
              "rarity": "uncommon",
              "artist": "Douglas Shuler",
              "multiverse_id": 1155,
              "number": "",
              "layout": "normal",
              "price": {
                "low": 0,
                "m[...]
