---
http_interactions:
- request:
    method: get
    uri: https://api.deckbrew.com/mtg/cards?color=blue&set=UNH&type=sorcery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Disclaimer:
      - This API is not produced, endorsed, supported, or affiliated with Wizards
        of the Coast.
      License:
      - 'The textual information presented through this API about Magic: The Gathering
        is copyrighted by Wizards of the Coast.'
      Link:
      - <https://api.deckbrew.com/mtg/cards?color=red&color=blue&page=1&set=UNH&type=sorcery>;
        rel="next"
      Pricing:
      - store.tcgplayer.com allows you to buy cards from any of our vendors, all at
        the same time, in a simple checkout experience. Shop, Compare & Save with
        TCGplayer.com!
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "name": "Face to Face",
            "id": "face-to-face",
            "url": "https://api.deckbrew.com/mtg/cards/face-to-face",
            "store_url": "http://store.tcgplayer.com/magic/unhinged/face-to-face?partner=DECKBREW",
            "types": [
              "sorcery"
            ],
            "colors": [
              "red"
            ],
            "cmc": 2,
            "cost": "{1}{R}",
            "text": "You and target opponent play a best two-out-of-three Rock, Paper, Scissors match. If you win, Face to Face deals 5 damage to that opponent.",
            "formats": {},
            "editions": [
              {
                "set": "Unhinged",
                "set_id": "UNH",
                "rarity": "uncommon",
                "artist": "Randy Gallegos",
                "multiverse_id": 73966,
                "flavor": "Befuddled by this new game, Argg longed for the days of Rock, Rock, Rock.",
                "number": "76",
                "layout": "normal",
                "price": {
                  "low": 0,
                  "median": 0,
                  "high": 0
                },
                "url": "https://api.deckbrew.com/mtg/cards?multiverseid=73966",
                "image_url": "https://image.deckbrew.com/mtg/multiverseid/73966.jpg",
                "set_url": "https://api.deckbrew.com/mtg/sets/UNH",
                "store_url": "http://store.tcgplayer.com/magic/unhinged/face-to-face?partner=DECKBREW"
              }
            ]
          },
          {
            "name": "Mouth to Mouth",
            "id": "mouth-to-mouth",
            "url": "https://api.deckbrew.com/mtg/cards/mouth-to-mouth",
            "store_url": "http://store.tcgplayer.com/magic/unhinged/mouth-to-mouth?partner=DECKBREW",
            "types": [
              "sorcery"
     [...]
