---
http_interactions:
- request:
    method: get
    uri: https://api.deckbrew.com/mtg/cards/193867
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Disclaimer:
      - This API is not produced, endorsed, supported, or affiliated with Wizards
        of the Coast.
      License:
      - 'The textual information presented through this API about Magic: The Gathering
        is copyrighted by Wizards of the Coast.'
      Pricing:
      - store.tcgplayer.com allows you to buy cards from any of our vendors, all at
        the same time, in a simple checkout experience. Shop, Compare & Save with
        TCGplayer.com!
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors": [
            "Card not found"
          ]
        }
  recorded_at: Tue, 10 Nov 2015 22:07:50 GMT
- request:
    method: get
    uri: https://api.deckbrew.com/mtg/cards/demonic-tutor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Disclaimer:
      - This API is not produced, endorsed, supported, or affiliated with Wizards
        of the Coast.
      License:
      - 'The textual information presented through this API about Magic: The Gathering
        is copyrighted by Wizards of the Coast.'
      Pricing:
      - store.tcgplayer.com allows you to buy cards from any of our vendors, all at
        the same time, in a simple checkout experience. Shop, Compare & Save with
        TCGplayer.com!
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "name": "Demonic Tutor",
          "id": "demonic-tutor",
          "url": "https://api.deckbrew.com/mtg/cards/demonic-tutor",
          "store_url": "http://store.tcgplayer.com/magic/product/show?partner=DECKBREW\u0026ProductName=demonic-tutor",
          "types": [
            "sorcery"
          ],
          "colors": [
            "black"
          ],
          "cmc": 2,
          "cost": "{1}{B}",
          "text": "Search your library for a card and put that card into your hand. Then shuffle your library.",
          "formats": {
            "commander": "legal",
            "legacy": "banned",
            "vintage": "restricted"
          },
          "editions": [
            {
              "set": "Judge Gift Program",
              "set_id": "pJGP",
              "rarity": "special",
              "artist": "Daarken",
              "multiverse_id": 0,
              "number": "35",
              "layout": "normal",
              "price": {
                "low": 0,
                "median": 0,
                "high": 0
              },
              "url": "https://api.deckbrew.com/mtg/cards?multiverseid=0",
              "image_url": "https://image.deckbrew.com/mtg/multiverseid/0.jpg",
              "set_url": "https://api.deckbrew.com/mtg/sets/pJGP",
              "store_url": "http://store.tcgplayer.com/magic/judge-gift-program/demonic-tutor?partner=DECKBREW"
            },
            {
              "set": "Vintage Masters",
              "set_id": "VMA",
              "rarity": "mythic",
              "artist": "Scott Chou",
              "multiverse_id": 382914,
              "number": "116",
              "layout": "normal",
              "price": {
                "low": 0,
                "m[...]
